# Unity generated
Library/
Temp/
Logs/
UserSettings/
MemoryCaptures/
Builds/

# Visual Studio / Rider
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db
Desktop.ini
*.dmp

# Script logs
*.log
